@model Pawz.Web.Models.Pet.AdoptionRequestCreateModel

<!---Modal--->

<div class="modal fade" id="adoptionRequestModal" tabindex="-1" role="dialog" aria-labelledby="adoptionRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adoptionRequestModalLabel">Adoption Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <!-- Country select field -->
                    <div class="form-group">
                        <select asp-for="CountryId" class="form-control" id="CountryId">
                            <option value="">Select your country</option>
                            @foreach (var country in Model.Countries)
                            {
                                <option value="@country.Value">@country.Text</option>
                            }
                        </select>
                        <span asp-validation-for="CountryId" class="form-label input-error-text"></span>
                        <!-- City select field -->
                        <select asp-for="CityId" class="form-control ml-2" id="CityId" name="city">
                            <option value="">Select your city</option>
                            @foreach (var city in Model.Cities)
                            {
                                <option value="@city.Value">@city.Text</option>
                            }
                        </select>
                        <span asp-validation-for="CityId" class="form-label input-error-text"></span>
                    </div>
                    <!-- Address input field -->
                    <div class="form-group">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="form-control" id="address" placeholder="Enter your address">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button asp-controller="AdoptionRequest" asp-action="Create" type="submit" class="btn btn-primary" onclick="submitAdoptionRequest()">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const allCities = @Html.Raw(@Json.Serialize(Model.AllCities));
        console.log("All Breeds:", allBreeds);
        console.log("All Cities:", allCities);

        function populateDropdown(parentId, allItems, childId, defaultText, parentKey) {
            const childSelect = document.querySelector(`#${childId}`);

            // Clear existing options in the child dropdown
            childSelect.innerHTML = '';

            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.textContent = `Select ${defaultText}`;
            defaultOption.selected = true;
            defaultOption.disabled = true;
            defaultOption.hidden = true;
            defaultOption.classList.add('default-option');

            childSelect.appendChild(defaultOption);

            if (parentId) {
                const filteredItems = allItems.filter(item => item[parentKey] === parseInt(parentId));
                console.log(`Filtered ${defaultText}:`, filteredItems);

                filteredItems.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.textContent = item.name;
                    childSelect.appendChild(option);
                });

                console.log(`${defaultText} dropdown HTML:`, childSelect.innerHTML);
            }

            // Update niceSelect plugin that template is using to apply new options
            $(childSelect).niceSelect('update');
        }

        const initialCountryId = $('#CountryId').val();
        if (initialCountryId) {
            populateDropdown(initialCountryId, allCities, 'CityId', 'City', 'countryId');
        }
    });
</script>
}
