@model Pawz.Web.Models.Pet.AdoptionRequestCreateModel

<div class="modal fade" id="adoptionRequestModal" tabindex="-1" role="dialog" aria-labelledby="adoptionRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adoptionRequestModalLabel">Adoption Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post" asp-controller="AdoptionRequest" enctype="multipart/form-data">
                    <fieldset class="p-4">
                        <input type="hidden" asp-for="PetId" />
                        <div class="col">
                            <div class="form-group mb-0">
                                <label asp-for="CountryId" class="form-label">Country</label>
                                <select asp-for="CountryId" class="form-control w-100" id="CountryId">
                                    <option value="">Select your country</option>
                                    @foreach (var country in Model.Countries)
                                    {
                                        <option value="@country.Value">@country.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="CountryId" class="form-label input-error-text"></span>
                            </div>
                            <div class="form-group mb-0">
                                <label asp-for="CityId" class="form-label">City</label>
                                <select asp-for="CityId" class="form-control w-100" id="CityId">
                                    <option value="">Select your city</option>
                                    @foreach (var city in Model.Cities)
                                    {
                                        <option value="@city.Value">@city.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="CityId" class="form-label input-error-text"></span>
                            </div>
                            <div class="form-group mb-0">
                                <label asp-for="Address" class="form-label">Address</label>
                                <input asp-for="Address" class="form-control w-100" id="address" placeholder="Enter your address">
                                <span asp-validation-for="Address" class="form-label input-error-text"></span>
                            </div>
                            <div class="form-group mb-0">
                                <label asp-for="PostalCode" class="form-label">Postal Code</label>
                                <input asp-for="PostalCode" class="form-control w-100" placeholder="Postal Code" />
                                <span asp-validation-for="PostalCode" class="form-label input-error-text"></span>
                            </div>
                        </div>

                        @if (ViewData.ModelState.IsValid is false && ViewData.ModelState[string.Empty]?.Errors.Count > 0)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var error in ViewData.ModelState[string.Empty]!.Errors)
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                </ul>
                            </div>
                        }

                        <div class="modal-footer d-flex justify-content-between mt-auto">
                            <button type="button" class="btn btn-secondary mb-0" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary font-weight-bold mb-0">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
