@model Pawz.Web.Models.Pet.PetViewModel

<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-lg-8">
                <div class="product-details">
                    <!-- Pet Name -->
                    <h1 class="product-title">@Model.Name</h1>

                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a
                                    href="">@Model.User?.FirstName @Model.User?.LastName</a></li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Species: <a
                                    href="">@Model.Breed?.Species?.Name</a></li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Breed: <a href="">
                                    @(Model.Breed?.Name)
                                </a></li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location: <a
                                    href="">@Model.Location?.Address, @Model.Location?.City?.Name,
                                    @Model.Location?.City?.Country?.Name</a></li>
                        </ul>
                    </div>

                    <div class="product-slider">
                        @foreach (var image in Model.PetImages)
                        {
                            <div class="product-slider-item my-4" data-image="@image.ImageUrl"
                                data-slick-index="@Model.PetImages.IndexOf(image)"
                                aria-hidden="@(Model.PetImages.IndexOf(image) == 0 ? "false" : "true")"
                                tabindex="@(Model.PetImages.IndexOf(image) == 0 ? "0" : "-1")" style="width: 730px;">
                                <img class="d-block img-fluid w-100"
                                    src="@(string.IsNullOrEmpty(image.ImageUrl) ? "/images/default-image.webp" : image.ImageUrl)"
                                    alt="Pet Image">
                            </div>
                        }

                        <i class="fa fa-chevron-right arrow-right slick-arrow"></i>

                        <ul class="slick-dots" role="tablist">
                            @foreach (var image in Model.PetImages)
                            {
                                <li class="@(Model.PetImages.IndexOf(image) == 0 ? "slick-active" : "")"
                                    role="presentation">
                                    <img class="img-fluid"
                                        src="@(string.IsNullOrEmpty(image.ImageUrl) ? "/images/default-image.webp" : image.ImageUrl)"
                                        alt="Pet Image">
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- Product Details Content -->
                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills justify-content-start" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Pet Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Specifications</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">About</h3>
                                <p>@Model.About</p>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Pet Specifications</h3>
                                <ul class="list-unstyled">
                                    <li><strong>Species:</strong> @(Model.Breed?.Species?.Name ?? "Unknown")</li>
                                    <li><strong>Breed:</strong> @(Model.Breed?.Name ?? "Unknown")</li>
                                    <li><strong>Age:</strong> @Model.AgeYears</li>
                                    <li><strong>Date Listed:</strong> @Model.CreatedAt.ToString("d MMMM yyyy")</li>
                                    <li><strong>Price:</strong> @Model.Price.ToString("C")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>Price</h4>
                        <p>@Model.Price.ToString("C")</p>
                    </div>
                    <div class="widget user text-center">
                        <img class="rounded-circle img-fluid mb-5 px-5" src="images/user/user-thumb.jpg" alt="">
                        <h4 class="text-capitalize"><a href="user-profile.html">@Model.User?.FirstName
                                @Model.User?.LastName</a></h4>
                        <p class="member-time">Member Since @Model.CreatedAt.ToString("MMMM yyyy")</p>
                        <a href="single.html">See all listings</a>
                        <ul class="list-inline mt-20">
                            <li class="list-inline-item"><a href="contact-us.html"
                                    class="btn btn-contact d-inline-block btn-primary px-lg-5 my-1 px-md-3">Message</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget disclaimer">
                        <h5 class="widget-header">Safety Tips</h5>
                        <ul>
                            <li>Meet seller at a public place</li>
                            <li>Check the item before you buy</li>
                            <li>Pay only after collecting the item</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
