@model IEnumerable<Pawz.Web.Models.Pet.PetViewModel>

<div class="product-grid-list">
    <div class="row mt-30">
        @foreach (var pet in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="product-item">

                    <div class="card" data-pet-id="@pet.Id">
                        <img class="card-img-top img-fluid hover-effects"
                             src="/images/pets/@(pet.PetImages?.FirstOrDefault(img => img.IsPrimary)?.ImageUrl ?? "default-image.webp")"
                             alt="Pet Image"
                             onclick="addToWishlist('@pet.Id')" />

                        <!-- Empty heart icon (for adding to wishlist) -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="wishlist-heart bi bi-heart add-to-wishlist" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                        </svg>

                        <!-- Filled heart icon (for removing from wishlist) -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="wishlist-heart bi bi-heart-fill remove-from-wishlist" viewBox="0 0 16 16" style="display:none;">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="@Url.Action("Details", "Pet", new { id = pet.Id })">
                                @pet.Name
                            </a>
                        </h4>
                        <p class="card-text">@pet.About</p>
                        <ul class="list-inline">
                            <li><strong>Species:</strong> @(pet.Breed.Species.Name)</li>
                            <li><strong>Breed:</strong> @(pet.Breed.Name)</li>
                            <li><strong>Location:</strong> @pet.Location?.Address, @pet.Location?.City?.Name,
                                @pet.Location?.City?.Country?.Name </li>
                            <li><strong>Age:</strong> @pet.AgeYears</li>
                            <li><strong>Posted by:</strong> @(pet.User.FirstName) @(pet.User.LastName) </li>
                            <li><strong>Date:</strong> @pet.CreatedAt.ToString("d MMMM yyyy")</li>
                            <li><strong>Price:</strong> @pet.Price.ToString("C")</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/petFunctions.js"></script>
