@model IEnumerable<Pawz.Domain.Entities.Pet>
@{
ViewData["Title"] = "Home Page";
}

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <br/>
                    <h1>Pawz</h1>
                    <br/>
                </div>
                <!-- Advance Search -->
                <div class="advance-search">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-content-center">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-xl-4 col-lg-3 col-md-6">
                                            <input type="text" class="form-control my-2 my-lg-1" id="inputtext4"
                                                   placeholder="What are you looking for">
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2">
                                                <option>Category</option>
                                                <option value="1">Top rated</option>
                                                <option value="2">Lowest Price</option>
                                                <option value="4">Highest Price</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6">
                                            <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Location">
                                        </div>
                                        <div class="form-group col-xl-2 col-lg-3 col-md-6 align-self-center">
                                            <button type="submit" class="btn btn-primary active w-100">Search Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Some of our pets</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- offer 01 -->
            <div class="col-lg-12">
                <div class="trending-ads-slide">
                    @foreach (var pet in Model)
                    {
                        <div class="col-sm-12 col-lg-4">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card h-100 shadow-sm px-3 py-2 pt-3 align-items-center position-relative">
                                    <div class="thumb-content">
                                        <!-- <div class="price">$200</div> -->
                                        @* <a asp-controller="Pet" asp-action="Details" asp-route-id="@pet.Id">
                                            <img src="@pet.PetImages.First().ImageUrl" alt="@pet.Name" class="img-fluid" />
                                        </a> *@
                                        @if (pet.PetImages != null && pet.PetImages.Any())
                                        {
                                            <img src="@pet.PetImages.FirstOrDefault().ImageUrl" alt="@pet.Name" class="img-fluid" />
                                        }
                                        else
                                        {
                                            <!-- Fallback image if no image is available -->
                                            <img src="~/images/pets/20be4b32-0a57-4d9c-afa1-c9b7d70a1fdb.jpg" alt="No image available" class="img-fluid" />
                                        }
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a asp-controller="Pet" asp-action="Details" asp-route-id="@pet.Id">@pet.Name</a>
                                        </h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-calendar"></i> @pet.AgeYears years old</a>
                                            </li>
                                        </ul>
                                        <p class="card-text">@pet.About</p>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>Services</h2>
                </div>
                <div class="row">
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-laptop icon-bg-1"></i>
                                <h4>Payments</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="#">Stripe <span>93</span></a></li>
                                <li><a href="#">Visa <span>233</span></a></li>
                                <li><a href="#">Mastercard <span>183</span></a></li>
                                <li><a href="#">PayPal <span>343</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-home icon-bg-3"></i>
                                <h4>Shelters</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="#">Harbor House <span>93</span></a></li>
                                <li><a href="#">Refuge Retreat<span>23</span></a></li>
                                <li><a href="#">Rescue Me Sanctuary <span>83</span></a></li>
                                <li><a href="#">Hearts & Paws Refuge <span>33</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- /Category List -->
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-shopping-basket icon-bg-4"></i>
                                <h4>Shoppings</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="#">Cat & Dog Supplements<span>53</span></a></li>
                                <li><a href="#">Cat & Dog baskets <span>212</span></a></li>
                                <li><a href="#">Cage Accessories<span>133</span></a></li>
                                <li><a href="#">Snacks & Supplements<span>143</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6">
                        <div class="category-block">
                            <div class="header">
                                <i class="fa fa-paw icon-bg-7"></i>
                                <h4>Pets</h4>
                            </div>
                            <ul class="category-list">
                                <li><a href="#">Cats <span>65</span></a></li>
                                <li><a href="#">Dogs <span>23</span></a></li>
                                <li><a href="#">Birds <span>113</span></a></li>
                                <li><a href="#">Others <span>43</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md-8">
                <div class="content-holder">
                    <h2>Visit adopt and find your future pet</h2>
                    <ul class="list-inline mt-30">
                        <li class="list-inline-item"><a class="btn btn-secondary" asp-controller="Home" asp-action="Adopt">Adopt</a></li>
                    </ul>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
