@model IEnumerable<Pawz.Application.Models.Pet.UserPetResponse>

<div class="search-container mb-3">
    <input type="text" name="searchTerm" id="searchInput"
           placeholder="Search by name, breed, or location..."
           class="form-control mb-3" style="max-width: 300px;"
           value="@ViewData["searchTerm"]" />
</div>

@if (Model == null || !Model.Any())
{
    <p>
        You haven't created any pets yet. Click
        <a asp-controller="Pet" asp-action="Create">  here </a> to create one now.
    </p>
}
else
{
    <table class="table table-responsive product-dashboard-table" id="petTable">
        <thead>
            <tr>
                <th>Image</th>
                <th style="padding-left: 30px;">Name</th>
                <th class="text-center" style="padding-right: 50px;">Breed</th>
                <th class="text-center" style="padding-right: 35px;">Status</th>
                <th class="text-center">Requests</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="petTableBody">
            @foreach (var pet in Model)
            {
                <tr>
                    <td class="product-thumb">
                        <img src="@(pet.PetImages.First().ImageUrl.StartsWith("http") ? pet.PetImages.First().ImageUrl : Url.Content("~/images/pets/" + pet.PetImages.First().ImageUrl))" alt="Pet Photo" class="rounded-circle" style="width: 100px; height: 100px;">
                    </td>
                    <td class="product-details" style="padding-left: 30px;">
                        <h3 class="title" style="font-size: 16px;">@pet.Name</h3>
                    </td>
                    <td class="product-category" style="padding-right: 50px;">
                        <span class="categories" style="font-size: 15px;">@pet.Breed.Name</span>
                    </td>
                    <td class="status text-center" style="padding-right: 35px;">
                        <span style="font-size: 15px;">@pet.Status</span>
                    </td>
                    <td class="text-center">
                        <a asp-controller="AdoptionRequest"
                           asp-action="GetPetAdoptionRequests"
                           asp-route-petId="@pet.Id"
                           class="p-2 mr-3 btn btn-outline-info btn-sm rounded-pill">Requests</a>
                    </td>
                    <td class="action text-center" data-title="Action">
                        <div class="">
                            <ul class="list-inline justify-content-center" style="display: flex; gap: 10px;">
                                <li class="list-inline-item">
                                    <a data-toggle="tooltip" data-placement="top" title="View" class="view pet-action-buttons"
                                       asp-controller="Pet"
                                       asp-action="Details"
                                       asp-route-id="@pet.Id">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="edit pet-action-buttons" data-toggle="tooltip" data-placement="top" title="Edit" href="edit-pet.html?id=@pet.Id">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="delete pet-action-buttons" data-toggle="tooltip" data-placement="top" title="Delete" href="delete-pet.html?id=@pet.Id">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#petTableBody tr').filter(function () {
                $(this).toggle(
                    $(this).text().toLowerCase().indexOf(value) > -1
                );
            });
        });
    });
</script>
