@inject Pawz.Application.Interfaces.IUserAccessor UserAccessor
@model IEnumerable<Pawz.Application.Models.Pet.UserPetResponse>

<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- User Profile-->
                    <div class="widget user-dashboard-profile">
                        <div class="profile-thumb">
                            <img src="/images/users/@(UserAccessor.GetUserInfo("profilepicture") ?? "userAvatar.jpg")"
                                 alt="@UserAccessor.GetUserName()'s Profile Picture" class="rounded-circle user-avatar-image-150">
                     
                        </div>
                        <h5 class="text-center">@UserAccessor.GetUserFirstName() @UserAccessor.GetUserLastName()</h5>
                        <p>Joined February 06, 2020</p>
                        <a href="#" class="btn btn-main-sm partial-view-link"
                            data-url="@Url.Action("EditProfileForm", "Users")">Edit Profile</a>
                    </div>
                    <!-- Links -->
                    <div class="widget user-dashboard-menu">
                        <ul>
                            <li class="active">
                                <a href="#" class="partial-view-link" data-url="@Url.Action("MyPets", "Users")">
                                    <i class="fa fa-paw"></i> My Pets
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Pet" asp-action="Create">
                                    <i class="fa fa-plus"></i> Add New Pet
                                </a>
                            </li>
                            <li>
                                <a href="#" class="partial-view-link"
                                    data-url="@Url.Action("AdoptionRequest", "Users")">
                                    <i class="fa fa-handshake-o"></i> Adoption Requests
                                </a>
                            </li>
                            <li>
                                <a href="#" class="partial-view-link" data-url="@Url.Action("Adoptions", "Users")">
                                    <i class="fa fa-heart"></i>Adoptions
                                </a>
                            </li>
                            <li>
                                <a href="#" class="partial-view-link" data-url="@Url.Action("MyAdoptions", "Users")">
                                    <i class="fa fa-shopping-basket"></i>My Adoptions
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Users" asp-action="Logout">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
               
                <!-- Div for Partial View -->
                <div class="widget dashboard-container my-adslist">
                    <div id="partialViewContainer"></div>
                </div>
            </div>
        </div> <!-- end of class="row"-->
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function ()
        {
            $('#partialViewContainer').load('@Url.Action("MyPets", "Users")');

            $('.partial-view-link').click(function (e)
            {
                e.preventDefault();
                var url = $(this).data('url');
                var title = $(this).text().trim();

                $('#partialViewContainer').load(url);
                $('#viewTitle').text(title);
            });
        });
    </script>
}
